$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --white: #FFFFFF;
  --black: #000000;
  --time: .3s;

  --1: #fff;
  --background-back: #f1f3f6;
  --text--icon-primary: #2f3239;
  --text--icon-third: #476144;
  --text--icon-secondary: #1e447e;
  --text--icon-hover-secondary: #84cae8;
  --text--icon-hover-third: #abd14e;
  --background-surface-light: #fff;
  --border-inverse: rgba(60, 87, 128, 0.16);
  --background-surface-light---hover: #ededed;
  --text--icon-hover-primary: #fff;
  --primary-cta: #ffc321;
  --primary-cta-hovered: #ffdd83;
  --primary-cta-pressed: #d7a00c;
  --text--icon-inverse-primary: #323232;
  --background-surface-blakc: #535353;
  --border-2: rgba(241, 243, 246, 0.8);
  --text--icon-cta: #e30952;

  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
}