.about {
  @include breakpoint($xl-bp) {
    padding-top: 2rem;
  }
}

.about-video {
  background: #e0e4ea;
  border-radius: 4rem;
  padding: 2.4rem;
  display: block;

  width: 100%;
  height: 56.8rem;
  max-width: 100%;

  @include breakpoint($sm-bp) {
    height: 20rem;
    border-radius: 2.4rem;
    padding: 1.6rem;

    order: 1;
  }

  &>* {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1.6rem;

    @include breakpoint($xl-bp) {
      border-radius: 1.2rem;
    }
  }
}