.main {
  padding-top: 14.4rem;
  margin-bottom: 6.4rem;
}

.main-title {
  max-width: 141.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-bottom {
  display: flex;
  justify-content: center;
  gap: 1.6rem;

  margin-top: 5.6rem;

  position: relative;
}

.main-catalogbtn {
  margin-bottom: auto;
  min-height: 5.8rem;

  .opened {
    display: none;
    animation: fadeEffect var(--time);
  }

  .closed {
    animation: fadeEffect var(--time);
  }

  &.opened {
    .opened {
      display: block;
    }

    .closed {
      display: none;
    }
  }
}

.main-catalog {
  display: none;

  position: absolute;
  top: 4.2rem;
  left: 50%;

  z-index: 2;

  max-width: 112.3rem;
  width: 100%;
  transform: translateX(-50%);

  grid-template-columns: 25.9rem 1fr;

  &.opened {
    display: grid;
  }
}

.main-inner {
  display: none;
}

.main-accordions {
  padding: 1.6rem;
  max-height: 45.1rem;
  overflow-y: auto;
}

.main-summary {
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
  width: 100%;
  border-radius: 0.8rem;
  transition: border-color var(--time), background-color var(--time);

  color: var(--text--icon-secondary);
  border: 1px solid transparent;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 5.5L15.5 12.5L8.5 19.5' stroke='%231E447E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: var(--text--icon-secondary);
    }
  }

  &.active {
    border-color: var(--border-inverse);

    background: var(--background-back);
  }
}

.main-tabwrapper {
  padding-right: 1.6rem;
  background: var(--border-inverse);
}

.main-tabcontent {
  padding: 1.6rem;
  padding-right: 0.8rem;
  width: 100%;
  overflow-y: auto;

  max-height: 45.1rem;

  &::-webkit-scrollbar-track {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  &>* {
    animation: fadeEffect var(--time);
  }
}

.main-list {
  columns: 2;
  gap: 2.4rem;
  transition: color var(--time);

  &.columns-3 {
    columns: 3;
  }

  a {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text--icon-secondary);
      }
    }
  }

  &>li {
    margin-bottom: 2.4rem;

    padding-top: 0.8rem;
    padding-left: 2rem;
    border-left: 0.1rem solid var(--text--icon-secondary);

    break-inside: avoid;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      margin-top: 1.6rem;

      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      font-weight: 400;

      li {
        padding-left: 2.6rem;
        position: relative;

        &::before {
          content: '\2022';
          position: absolute;
          top: 0;
          left: 0.8rem;
          color: var(--background-surface-blakc);
        }
      }
    }
  }
}

.main-search {
  position: relative;

  width: 96.6rem;
  max-width: 100%;
}

.has-level,
.has-text {
  .main-reset {
    display: block;
  }

  .main-submit {
    display: inline-flex;
  }

  .main-loading {
    display: block;
  }

  .dropdown-btn {
    display: none;
  }

  .dropdown-items {
    display: none;
  }

  .main-input {
    padding-left: 6.4rem;
  }

  .main-result {
    display: block;
  }
}

.focused {
  .main-result {
    display: none;
  }
}

.main-loading {
  display: none;

  position: absolute;
  top: 0.85rem;
  left: 0.8rem;

  border-radius: 1.6rem;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;

  background: var(--background-back);

  color: var(--text--icon-secondary);

  svg {
    animation: rotating 2s linear infinite;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dropdown-btn {
  border-radius: 0.8rem;
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  padding-right: 3.6rem;

  min-width: 17.9rem;
  min-height: 4.6rem;

  background: var(--background-back);

  position: absolute;
  top: 0.6rem;
  left: 0.8rem;

  animation: fadeEffect var(--time);

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33398 10.6667L8.00065 6.00008L12.6673 10.6667' stroke='%232F3239' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 1.2rem;

    transition: transform var(--time);
  }

  &.opened {

    &+.dropdown-items {
      display: flex;
    }

    &:after {
      transform: translateY(-50%);
    }
  }
}

.dropdown-items {
  display: none;

  flex-direction: column;
  width: 100%;
  padding-right: 0.8rem;

  position: absolute;
  top: calc(100% + 0.4rem);
  z-index: 1;
}

.dropdown-inner {
  max-height: 24rem;
  overflow: auto;

  &>* {
    padding: 0.8rem 1.6rem;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.checkbox-label {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .checkbox-box {
        border-color: var(--text--icon-secondary);
      }
    }
  }


  input {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0;
    padding: 0;

    opacity: 0;

    &:checked+.checkbox-box {
      background-color: var(--text--icon-secondary);
      border-color: var(--text--icon-secondary);

      &::before {
        opacity: 1;
      }
    }
  }
}

.checkbox-box {
  border: 1px solid var(--border-inverse);
  border-radius: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;

  transition: border-color var(--time), background-color var(--time);

  display: flex;
  background: var(--background-surface-light);

  position: relative;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.105 16.6041L11.0873 16.6217L6.6875 12.2218L8.12018 10.7892L11.105 13.774L15.879 9L17.3117 10.4327L11.1226 16.6218L11.105 16.6041Z' fill='white' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }
}

.main-input {
  border: 1px solid var(--background-surface-blakc);
  border-radius: 1.2rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;

  padding-left: 20.3rem;

  height: 5.8rem;

  box-shadow: 0 4px 12px 0 rgba(146, 146, 146, 0.01);
  background: var(--background-surface-light);

  width: 100%;
  transition: border-color var(--time);

  &:focus {
    outline: none;
    border-color: var(--text--icon-secondary);
  }
}

.main-chips {
  margin-top: 0.8rem;
  min-height: 3.6rem;

  display: flex;
  gap: 1.2rem;

  overflow-x: auto;

  &>* {
    border: 1px solid var(--text--icon-secondary);
    border-radius: 10rem;
    padding: 0.8rem 1.2rem;

    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    min-height: 3.6rem;

    white-space: nowrap;

    cursor: pointer;

    transition: border-color var(--time);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: var(--text--icon-hover-secondary);

        &::after {
          filter: brightness(0) saturate(100%) invert(73%) sepia(54%) saturate(334%) hue-rotate(165deg) brightness(95%) contrast(91%);
        }
      }
    }

    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4L4 12M4 4L12 12' stroke='%232F3239' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 1.6rem;
      height: 1.6rem;
      transition: filter var(--time);
    }

    small {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 129%;
      color: var(--background-surface-blakc);
    }
  }
}

.main-reset {
  position: absolute;
  right: 16.5rem;
  top: 1.65rem;
  width: 2.4rem;
  height: 2.4rem;
  animation: fadeEffect var(--time);

  display: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--text--icon-secondary);
    }
  }
}

.main-submit {
  position: absolute;
  right: 1.6rem;
  top: 0.8rem;
  height: 4.1rem;
  padding: 0.84rem 2rem;
  animation: fadeEffect var(--time);

  display: none;
}

.main-result {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  z-index: 2;
  padding-right: 0.8rem;

  display: none;
}

.main-datalist {
  max-height: 24rem;

  overflow-y: auto;
  animation: fadeEffect var(--time);

  .empty & {
    display: none;
  }

  a {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.66 16.66M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%232F3239' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.2rem;
      display: inline-block;
      transition: filter var(--time);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text--icon-secondary);

        &::before {
          filter: brightness(0) saturate(100%) invert(22%) sepia(55%) saturate(1392%) hue-rotate(190deg) brightness(89%) contrast(92%);
        }
      }
    }
  }
}

.main-empty {
  display: none;
  animation: fadeEffect var(--time);

  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  .empty & {
    display: block;
  }
}

.main-ctas {
  display: grid;
  grid-template-columns: 1fr 1fr 36.8rem;
  align-items: center;
  gap: 2rem;
}

.main-cta {
  border: 1px solid rgba(30, 68, 126, 0.2);
  border-radius: 2.4rem;
  padding: 2.4rem 2.4rem 2.4rem 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;

  &.first {
    background-image: url("data:image/svg+xml,%3Csvg width='593' height='112' viewBox='0 0 593 112' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6001_12676)'%3E%3Crect width='593' height='112' fill='url(%23paint0_linear_6001_12676)'/%3E%3Cpath d='M87 73.0805C96.7701 72.005 143.306 73.6896 152.885 73.0805C190.996 70.7136 228.121 70.2864 264.1 66.6317C272.111 65.8461 280.61 64.7793 288.993 63.3434C284.026 55.5041 280.962 46.2639 281.082 37.2499C279.167 16.2112 294.667 -10.4294 319.041 -15.3484C341.465 -22.2856 373.877 -6.83272 376.951 20.9264C378.024 27.5281 378.18 34.3638 376.745 41.5249C373.322 57.5015 363.823 68.5508 352.884 76.4693C376.057 81.1898 400.775 81.8166 425.21 80.9678C489.365 78.7392 526.748 50.3538 535.907 49.5C536.268 53.0982 535.431 57.5025 535.907 61.2421C526.616 62.7205 506.88 80.9678 426.138 94.0529C399.613 96.66 372.701 97.7928 345.299 93.4674C339.609 92.4917 333.851 91.3022 328.119 89.6274C327.837 89.7417 327.557 89.8566 327.278 89.9683C307.663 97.5257 288.441 101.426 269.341 104.719C231.193 111.08 193.537 113.913 157.231 118.562C148.154 119.728 106.107 126.476 97.4838 128C95.2515 112.325 89.2323 88.7553 87 73.0805ZM312.365 58.0845C329.732 52.9927 343.43 45.5396 346.209 34.6875C347.002 31.8984 347.27 28.777 346.926 25.0658C346.657 15.5563 336.903 8.83501 324.82 10.7866C313.127 12.6623 304.83 22.7501 304.46 37.2499C303.555 45.3224 306.7 52.2983 312.365 58.0845Z' fill='url(%23paint1_linear_6001_12676)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6001_12676' x1='0' y1='56' x2='593' y2='56' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E7F8FF'/%3E%3Cstop offset='0.411922' stop-color='%23C1E6F6'/%3E%3Cstop offset='1' stop-color='%2384CAE8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_6001_12676' x1='453.165' y1='47.8661' x2='126.887' y2='47.8661' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='0.431541' stop-color='white' stop-opacity='0.377872'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_6001_12676'%3E%3Crect width='593' height='112' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.second {
    background-image: url("data:image/svg+xml,%3Csvg width='392' height='112' viewBox='0 0 392 112' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='392' height='112' fill='white'/%3E%3Crect width='392' height='112' fill='url(%23paint0_radial_147_9593)' fill-opacity='0.5'/%3E%3Crect width='392' height='112' fill='url(%23paint1_radial_147_9593)' fill-opacity='0.2'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_147_9593' cx='0' cy='0' r='1' gradientTransform='matrix(339.57 56 -2.29046 314.938 52.43 1.15491e-05)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2398D9F7'/%3E%3Cstop offset='1' stop-color='%2398D9F7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_147_9593' cx='0' cy='0' r='1' gradientTransform='matrix(389.182 97.4166 -24.9544 2260.63 2.81751 -5.41271e-05)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFC321' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFC321'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main-swiperwrap {
  position: relative;
}

.main-swiper {
  .swiper-slide {
    margin-right: 2rem;
    width: calc(100% / 5 - 1.65rem);
  }
}

.main-item {
  border: 1px solid var(--border-inverse);
  border-radius: 2.4rem;
  padding: 2.4rem;

  position: relative;

  overflow: hidden;

  min-height: 20rem;

  display: flex;
  flex-direction: column;
}

.main-hiddenlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.main-link {
        background: var(--text--icon-hover-secondary);
      }
    }
  }
}

.main-h4 {
  margin-bottom: 2rem;
}

.main-link {
  border-radius: 9.9rem;
  padding: 0.8rem 2.4rem;
  width: 7.2rem;
  height: 4rem;
  background: var(--border-inverse);
  color: var(--text--icon-secondary);
  transition: background-color var(--time);

  margin-top: auto;
}

.main-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 13.5rem;
  width: 100%;

  img {
    object-position: right bottom;
  }
}

.img-contain {}

.lazyload {}