.main {
  padding-top: 14.4rem;
  margin-bottom: 6.4rem;
  position: relative;

  @include breakpoint($xl-bp) {
    padding-top: 10rem;
  }
}

.main-mainbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-position: top;
    object-fit: fill;
  }
}

.main-title {
  max-width: 141.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-bottom {
  display: flex;
  justify-content: center;
  gap: 1.6rem;

  margin-top: 5.6rem;

  position: relative;
}

.main-catalogbtn {
  margin-bottom: auto;
  min-height: 5.8rem;

  .opened {
    display: none;
    animation: fadeEffect var(--time);
  }

  .closed {
    animation: fadeEffect var(--time);
  }

  &.opened {
    .opened {
      display: block;
    }

    .closed {
      display: none;
    }
  }
}

.main-catalog {
  display: none;

  position: absolute;
  top: 4.2rem;
  left: 50%;

  z-index: 2;

  max-width: 112.3rem;
  width: 100%;
  transform: translateX(-50%);

  grid-template-columns: 25.9rem 1fr;

  &.opened {
    display: grid;
  }
}

.main-inner {
  display: none;
}

.main-accordions {
  padding: 1.6rem;
  max-height: 45.1rem;
  overflow-y: auto;
}

.main-summary {
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
  width: 100%;
  border-radius: 0.8rem;
  transition: border-color var(--time), background-color var(--time);

  color: var(--text--icon-secondary);
  border: 1px solid transparent;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 5.5L15.5 12.5L8.5 19.5' stroke='%231E447E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: var(--text--icon-secondary);
    }
  }

  &.active {
    border-color: var(--border-inverse);

    background: var(--background-back);
  }
}

.main-tabwrapper {
  padding-right: 1.6rem;
  background: var(--border-inverse);
}

.main-tabcontent {
  padding: 1.6rem;
  padding-right: 0.8rem;
  width: 100%;
  overflow-y: auto;

  max-height: 45.1rem;

  &::-webkit-scrollbar-track {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  &>* {
    animation: fadeEffect var(--time);
  }
}

.main-list {
  columns: 2;
  gap: 2.4rem;
  transition: color var(--time);

  &.columns-3 {
    columns: 3;
  }

  a {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text--icon-secondary);
      }
    }
  }

  &>li {
    margin-bottom: 2.4rem;

    padding-top: 0.8rem;
    padding-left: 2rem;
    border-left: 0.1rem solid var(--text--icon-secondary);

    break-inside: avoid;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      margin-top: 1.6rem;

      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      font-weight: 400;

      li {
        padding-left: 2.6rem;
        position: relative;

        &::before {
          content: '\2022';
          position: absolute;
          top: 0;
          left: 0.8rem;
          color: var(--background-surface-blakc);
        }
      }
    }
  }
}

.main-search {
  position: relative;

  width: 96.6rem;
  max-width: 100%;

  @include breakpoint($xl-bp) {
    width: 100%;
  }
}

.has-level,
.has-text {
  .main-reset {
    display: block;
  }

  .main-submit {
    display: inline-flex;
  }

  .main-loading {
    display: block;
  }

  .dropdown-btn {
    display: none;
  }

  .dropdown-items {
    display: none;
  }

  .main-input {
    padding-left: 6.4rem;
  }

  .main-result {
    display: block;
  }
}

.focused {
  .main-result {
    display: none;
  }
}

.main-loading {
  display: none;

  position: absolute;
  top: 0.85rem;
  left: 0.8rem;

  border-radius: 1.6rem;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;

  background: var(--background-back);

  color: var(--text--icon-secondary);

  svg {
    animation: rotating 2s linear infinite;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dropdown-btn {
  border-radius: 0.8rem;
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  padding-right: 3.6rem;

  min-width: 17.9rem;
  min-height: 4.6rem;

  background: var(--background-back);

  position: absolute;
  top: 0.6rem;
  left: 0.8rem;

  animation: fadeEffect var(--time);

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33398 10.6667L8.00065 6.00008L12.6673 10.6667' stroke='%232F3239' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 1.2rem;

    transition: transform var(--time);
  }

  &.opened {

    &+.dropdown-items {
      display: flex;
    }

    &:after {
      transform: translateY(-50%);
    }
  }
}

.dropdown-items {
  display: none;

  flex-direction: column;
  width: 100%;
  padding-right: 0.8rem;

  position: absolute;
  top: calc(100% + 0.4rem);
}

.dropdown-inner {
  max-height: 24rem;
  overflow: auto;

  &>* {
    padding: 0.8rem 1.6rem;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.checkbox-label {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .checkbox-box {
        border-color: var(--text--icon-secondary);
      }
    }
  }


  input {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0;
    padding: 0;

    opacity: 0;

    &:checked+.checkbox-box {
      background-color: var(--text--icon-secondary);
      border-color: var(--text--icon-secondary);

      &::before {
        opacity: 1;
      }
    }
  }
}

.checkbox-box {
  border: 1px solid var(--border-inverse);
  border-radius: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;

  transition: border-color var(--time), background-color var(--time);

  display: flex;
  background: var(--background-surface-light);

  position: relative;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.105 16.6041L11.0873 16.6217L6.6875 12.2218L8.12018 10.7892L11.105 13.774L15.879 9L17.3117 10.4327L11.1226 16.6218L11.105 16.6041Z' fill='white' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }
}

.main-input {
  border: 1px solid var(--background-surface-blakc);
  border-radius: 1.2rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;

  padding-left: 20.3rem;

  height: 5.8rem;

  box-shadow: 0 4px 12px 0 rgba(146, 146, 146, 0.01);
  background: var(--background-surface-light);

  width: 100%;
  transition: border-color var(--time);

  &:focus {
    outline: none;
    border-color: var(--text--icon-secondary);
  }
}

.main-chips {
  margin-top: 0.8rem;
  min-height: 3.6rem;

  display: flex;
  gap: 1.2rem;

  overflow-x: auto;

  &>* {
    border: 1px solid var(--text--icon-secondary);
    border-radius: 10rem;
    padding: 0.8rem 1.2rem;

    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    min-height: 3.6rem;

    white-space: nowrap;

    cursor: pointer;

    transition: border-color var(--time);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: var(--text--icon-hover-secondary);

        &::after {
          filter: brightness(0) saturate(100%) invert(73%) sepia(54%) saturate(334%) hue-rotate(165deg) brightness(95%) contrast(91%);
        }
      }
    }

    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4L4 12M4 4L12 12' stroke='%232F3239' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 1.6rem;
      height: 1.6rem;
      transition: filter var(--time);
    }

    small {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 129%;
      color: var(--background-surface-blakc);
    }
  }
}

.main-reset {
  position: absolute;
  right: 16.5rem;
  top: 1.65rem;
  width: 2.4rem;
  height: 2.4rem;
  animation: fadeEffect var(--time);

  display: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--text--icon-secondary);
    }
  }
}

.main-submit {
  position: absolute;
  right: 1.6rem;
  top: 0.8rem;
  height: 4.1rem;
  padding: 0.84rem 2rem;
  animation: fadeEffect var(--time);

  display: none;
}

.main-result {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  z-index: 2;
  padding-right: 0.8rem;

  display: none;
}

.main-datalist {
  max-height: 24rem;

  overflow-y: auto;
  animation: fadeEffect var(--time);

  .empty & {
    display: none;
  }

  a {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.66 16.66M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%232F3239' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.2rem;
      display: inline-block;
      transition: filter var(--time);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text--icon-secondary);

        &::before {
          filter: brightness(0) saturate(100%) invert(22%) sepia(55%) saturate(1392%) hue-rotate(190deg) brightness(89%) contrast(92%);
        }
      }
    }
  }
}

.main-empty {
  display: none;
  animation: fadeEffect var(--time);

  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  .empty & {
    display: block;
  }
}

.main-ctas {
  display: grid;
  grid-template-columns: 1fr 1fr 36.8rem;
  align-items: center;
  gap: 2rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &>* {
    @include breakpoint($xl-bp) {
      width: 100%;
    }
  }
}

.main-cta {
  border: 1px solid rgba(30, 68, 126, 0.2);
  border-radius: 2.4rem;
  padding: 2.4rem 2.4rem 2.4rem 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
  }

  &.first {
    background-image: url("data:image/svg+xml,%3Csvg width='593' height='112' viewBox='0 0 593 112' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6001_12676)'%3E%3Crect width='593' height='112' fill='url(%23paint0_linear_6001_12676)'/%3E%3Cpath d='M87 73.0805C96.7701 72.005 143.306 73.6896 152.885 73.0805C190.996 70.7136 228.121 70.2864 264.1 66.6317C272.111 65.8461 280.61 64.7793 288.993 63.3434C284.026 55.5041 280.962 46.2639 281.082 37.2499C279.167 16.2112 294.667 -10.4294 319.041 -15.3484C341.465 -22.2856 373.877 -6.83272 376.951 20.9264C378.024 27.5281 378.18 34.3638 376.745 41.5249C373.322 57.5015 363.823 68.5508 352.884 76.4693C376.057 81.1898 400.775 81.8166 425.21 80.9678C489.365 78.7392 526.748 50.3538 535.907 49.5C536.268 53.0982 535.431 57.5025 535.907 61.2421C526.616 62.7205 506.88 80.9678 426.138 94.0529C399.613 96.66 372.701 97.7928 345.299 93.4674C339.609 92.4917 333.851 91.3022 328.119 89.6274C327.837 89.7417 327.557 89.8566 327.278 89.9683C307.663 97.5257 288.441 101.426 269.341 104.719C231.193 111.08 193.537 113.913 157.231 118.562C148.154 119.728 106.107 126.476 97.4838 128C95.2515 112.325 89.2323 88.7553 87 73.0805ZM312.365 58.0845C329.732 52.9927 343.43 45.5396 346.209 34.6875C347.002 31.8984 347.27 28.777 346.926 25.0658C346.657 15.5563 336.903 8.83501 324.82 10.7866C313.127 12.6623 304.83 22.7501 304.46 37.2499C303.555 45.3224 306.7 52.2983 312.365 58.0845Z' fill='url(%23paint1_linear_6001_12676)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6001_12676' x1='0' y1='56' x2='593' y2='56' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E7F8FF'/%3E%3Cstop offset='0.411922' stop-color='%23C1E6F6'/%3E%3Cstop offset='1' stop-color='%2384CAE8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_6001_12676' x1='453.165' y1='47.8661' x2='126.887' y2='47.8661' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='0.431541' stop-color='white' stop-opacity='0.377872'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_6001_12676'%3E%3Crect width='593' height='112' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.second {
    background-image: url("data:image/svg+xml,%3Csvg width='392' height='112' viewBox='0 0 392 112' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='392' height='112' fill='white'/%3E%3Crect width='392' height='112' fill='url(%23paint0_radial_147_9593)' fill-opacity='0.5'/%3E%3Crect width='392' height='112' fill='url(%23paint1_radial_147_9593)' fill-opacity='0.2'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_147_9593' cx='0' cy='0' r='1' gradientTransform='matrix(339.57 56 -2.29046 314.938 52.43 1.15491e-05)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2398D9F7'/%3E%3Cstop offset='1' stop-color='%2398D9F7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_147_9593' cx='0' cy='0' r='1' gradientTransform='matrix(389.182 97.4166 -24.9544 2260.63 2.81751 -5.41271e-05)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFC321' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFC321'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main-swiperwrap {
  position: relative;

  .swiper-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 2;

    @include breakpoint($xl-bp) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }

    &.prev {
      left: -2.4rem;
    }

    &.next {
      right: -2.4rem;
    }
  }

  .swiper-pagination {
    bottom: auto;
    top: calc(100% + 1.4rem);
    display: none;

    @include breakpoint($xl-bp) {
      display: block;
    }
  }
}

.main-swiper {
  @include breakpoint($sm-bp) {
    width: calc(100% + 3.2rem);
    position: relative;
    left: -1.6rem;
    padding-left: 1.6rem;
  }

  .swiper-slide {
    margin-right: 2rem;
    width: calc(100% / 5 - 1.65rem);

    @include breakpoint($xl-bp) {
      width: 30.4rem;
      margin-right: 1.6rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-item {
  border: 1px solid var(--border-inverse);
  border-radius: 2.4rem;
  padding: 2.4rem;

  position: relative;

  overflow: hidden;

  min-height: 20rem;

  display: flex;
  flex-direction: column;
  background: var(--background-surface-light);
}

.main-hiddenlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.main-link {
        background: var(--text--icon-hover-secondary);
      }
    }
  }
}

.main-h4 {
  margin-bottom: 2rem;
}

.main-link {
  border-radius: 9.9rem;
  padding: 0.8rem 2.4rem;
  width: 7.2rem;
  height: 4rem;
  background: var(--border-inverse);
  color: var(--text--icon-secondary);
  transition: background-color var(--time);

  margin-top: auto;
}

.main-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 13.5rem;
  width: 100%;

  img {
    object-position: right bottom;
  }
}

.mwhat {
  position: relative;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='1047' height='646' viewBox='0 0 1047 646' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6' clip-path='url(%23clip0_265_8803)'%3E%3Cpath d='M459 0V618H319V0H459Z' fill='url(%23paint0_linear_265_8803)' /%3E%3Cpath d='M-85 800.201C-85 610.656 94.1653 457 315.177 457H1046V577.12H315.177C171.519 577.12 55.0619 676.997 55.0619 800.201V1028H-85V800.201Z' fill='url(%23paint1_linear_265_8803)' /%3E%3Cpath d='M560 0H700.122C700.122 152.21 816.63 275.6 960.35 275.6H1132V424H960.35C739.243 424 560 234.169 560 0Z' fill='%23F1F3F6' /%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_265_8803' x1='389' y1='0' x2='389' y2='618' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F1F3F6' /%3E%3Cstop offset='1' stop-color='white' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_265_8803' x1='480.5' y1='457' x2='90.1015' y2='898.552' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F1F3F6' /%3E%3Cstop offset='1' stop-color='white' /%3E%3C/linearGradient%3E%3CclipPath id='clip0_265_8803'%3E%3Crect width='1047' height='646' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
    width: 104.7rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint($xl-bp) {
      content: normal;
    }
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='581' height='646' viewBox='0 0 581 646' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_265_8808)'%3E%3Cpath d='M261 637V20H121V637H261Z' fill='url(%23paint0_linear_265_8808)' /%3E%3Cpath d='M-198 58.3005C-198 279.048 -61.4478 458 106.998 458H664V318.105H106.998C-2.49187 318.105 -91.2508 201.787 -91.2508 58.3005V-207H-198V58.3005Z' fill='url(%23paint1_linear_265_8808)' /%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_265_8808' x1='191' y1='637' x2='191' y2='20' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' /%3E%3Cstop offset='0.447115' stop-color='%23F1F3F6' /%3E%3Cstop offset='1' stop-color='white' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_265_8808' x1='233' y1='458' x2='-205.137' y2='133.703' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F1F3F6' /%3E%3Cstop offset='1' stop-color='white' /%3E%3C/linearGradient%3E%3CclipPath id='clip0_265_8808'%3E%3Crect width='581' height='646' fill='white' transform='matrix(1 0 0 -1 0 646)' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    width: 58.1rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @include breakpoint($xl-bp) {
      content: normal;
    }
  }
}

.mwhat-title {
  @include breakpoint($xl-bp) {
    margin-top: 3.2rem;
  }
}

.mwhat-video {
  background: #e0e4ea;
  border-radius: 4rem;
  padding: 2.4rem;
  display: block;

  width: 81.6rem;
  height: 45.8rem;
  max-width: 100%;

  @include breakpoint($sm-bp) {
    height: 21.2rem;
    border-radius: 2.4rem;
    padding: 1.6rem;

    order: 1;
  }

  &>* {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1.6rem;

    @include breakpoint($xl-bp) {
      border-radius: 1.2rem;
    }
  }
}

.mwhat-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    margin-top: 3.2rem;
  }
}

.mwhat-hr {
  @include breakpoint($xl-bp) {
    margin-top: 3.2rem;
  }
}

.education-list {
  display: grid;
  grid-template-columns: 50.7rem 23.3rem 1fr 37rem;
  gap: 4rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.education-item {
  border: 1px solid var(--border-inverse);
  border-radius: 2.4rem;
  background: var(--background-back);
  padding: 3.2rem;

  position: relative;
  overflow: hidden;
  min-height: 25rem;

  @include breakpoint($xl-bp) {
    padding: 2rem;
    min-height: 15.8rem;
  }

  &.--1 {
    padding-right: 10.4rem;

    @include breakpoint($xl-bp) {
      padding-right: 2rem;
      padding-bottom: 11.2rem;
    }

    .education-bg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 11rem;
      height: 10.7rem;

      @include breakpoint($xl-bp) {
        bottom: -1rem;
      }
    }
  }


  &.--2 {
    grid-column: 2 span;

    background-image: url("data:image/svg+xml,%3Csvg width='240' height='250' viewBox='0 0 240 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='177.5' cy='148.5' r='177.5' fill='%233C5780' fill-opacity='0.16' /%3E%3C/svg%3E");
    background-position: right;
    background-size: 24rem 100%;
    background-repeat: no-repeat;

    @include breakpoint($xl-bp) {
      min-height: 17.8rem;

      background-image: url("data:image/svg+xml,%3Csvg width='221' height='40' viewBox='0 0 221 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='177.5' cy='177.5' r='177.5' fill='%233C5780' fill-opacity='0.16'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 22.1rem 4rem;
    }

    .education-desc {
      max-width: 37.1rem;
    }
  }

  &.--4 {
    grid-column: 2 span;

    @include breakpoint($xl-bp) {
      padding-bottom: 7.2rem;
    }

    .education-desc {
      max-width: 42rem;
    }

    .education-bg {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 33.8rem;
      height: 21.8rem;

      @include breakpoint($xl-bp) {
        width: 18.5rem;
        height: 11.7rem;
        right: -5rem;
      }

      img {
        object-position: bottom;
      }
    }
  }

  &.--5 {
    grid-column: 2 span;

    background-image: url("data:image/svg+xml,%3Csvg width='353' height='225' viewBox='0 0 353 225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.0533881H353C353 43.2101 352.442 129.522 352.442 129.522C341.212 138.737 329.533 147.387 317.445 155.442C296.337 170.017 274.004 182.731 250.699 193.441C249.256 194.094 239.726 198.538 238.599 198.659C237.294 199.351 234.505 200.408 233.054 200.944C231.744 201.536 230.401 202.05 229.031 202.488C224.717 204.347 216.711 207.128 212.307 208.558C188.245 216.372 143.359 229.18 118.416 223.658C116.94 223.167 115.873 222.732 114.521 221.961C108.762 217.991 111.291 212.852 117.807 212.669C118.72 212.487 121.469 212.502 122.601 212.462C124.804 212.385 126.674 212.233 128.878 212.011C131.835 211.583 137.576 210.788 140.322 209.902C139.002 209.665 133.338 210.44 131.464 210.538C123.11 210.979 102.949 211.292 96.0734 206.642C95.0104 205.923 94.1381 204.933 93.9168 203.628C93.7486 202.636 93.9314 201.479 94.529 200.653C96.6593 197.711 108.593 197.885 112.408 197.383C111.352 197.06 100.324 196.879 98.5632 196.829C96.9356 196.798 94.454 196.648 92.8867 196.465C80.6081 193.12 82.3043 182.917 94.8936 183.681C101.806 184.099 109.201 183.88 116.095 183.19C108.46 182.447 98.3402 181.757 92.1159 176.79C91.0507 175.94 89.4976 173.841 89.5946 172.375C90.0147 166.026 97.8493 166.278 102.527 166.4C109.043 166.701 115.315 166.987 121.848 166.775C122.834 166.665 124.207 166.637 125.225 166.585C125.805 166.52 126.593 166.488 127.19 166.446C133.614 165.755 141.017 164.723 147.27 163C142.18 162.039 138.472 161.089 133.574 159.498C132.957 159.386 131.521 158.883 130.864 158.672C126.485 157.04 120.81 154.189 121.293 148.793C122.073 140.088 133.749 143.372 138.771 144.572C141.675 145.26 144.584 145.921 147.5 146.557C157.98 148.823 166.216 150.056 176.891 150.5C181.95 150.471 186.249 150.551 191.27 149.8C194.405 149.163 199.071 147.52 199.988 144.058C200.269 143.033 200.117 141.939 199.571 141.029C197.447 137.414 190.417 138.473 186.84 138.044C183.708 137.667 180.53 137.367 177.446 136.655C176.393 136.541 172.468 135.83 171.705 135.275C173.89 135.67 176.853 135.908 179.111 136.16C181.071 135.953 183.4 136.374 185.397 136.436C192.483 136.658 211.374 136.835 216.469 131.934C217.183 131.246 217.709 130.344 217.703 129.327C217.697 128.024 218.085 128.093 216.154 126.217C214.222 124.342 205.302 125.213 205.762 124.14C206.706 123.648 218.325 122.676 219.363 122.409C222.981 121.473 228.688 118.262 227.128 113.833C224.393 107.811 213.238 110.135 207.97 109.751C205.81 109.593 198.02 109.648 196.708 108.98C204.109 108.32 214.173 107.561 220.151 102.676C222.73 100.569 223.428 96.7992 220.69 94.5864C216.547 91.2367 207.344 92.3706 202.232 92.5427C200.066 92.6989 194.559 92.7727 192.616 92.5123C189.858 92.6292 186.652 92.1172 183.887 91.8811C177.398 91.3272 171.164 89.6854 164.796 88.4905C171.358 87.0391 184.124 84.8603 188.993 79.9399C190.386 78.4537 191.322 76.1047 191.087 74.0595C190.398 68.0247 183.522 68.2796 179.113 68.6032C163.236 70.735 143.898 76.8262 125.796 74.9235C124.316 74.7329 122.692 74.4113 121.208 74.1471C111.159 72.4691 98.3334 67.2875 89.2795 62.413C88.4439 62.024 87.4602 61.4809 86.6267 61.0506C77.6007 56.0361 68.7714 50.6753 60.1582 44.9801C45.9431 35.7596 31.8888 25.8677 18.871 14.9977C12.7119 9.85475 0 -0.847065 0 0.0533881Z' fill='%233C5780' fill-opacity='0.16' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 35.3rem 22.5rem;

    @include breakpoint($xl-bp) {
      min-height: 25.2rem;
      background-image: url("data:image/svg+xml,%3Csvg width='316' height='250' viewBox='0 0 316 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 -45.9252H494C494 14.4942 493.218 135.331 493.218 135.331C477.504 148.231 461.159 160.342 444.243 171.618C414.704 192.024 383.451 209.824 350.836 224.817C348.818 225.732 335.481 231.954 333.903 232.123C332.078 233.091 328.175 234.571 326.144 235.322C324.31 236.15 322.431 236.869 320.514 237.483C314.476 240.085 303.272 243.98 297.109 245.981C263.436 256.921 200.622 274.853 165.716 267.122C163.65 266.434 162.156 265.825 160.264 264.746C152.205 259.188 155.744 251.993 164.863 251.737C166.141 251.481 169.988 251.503 171.572 251.448C174.656 251.339 177.271 251.126 180.356 250.815C184.494 250.216 192.528 249.103 196.371 247.862C194.525 247.531 186.598 248.615 183.975 248.753C172.284 249.371 144.07 249.808 134.448 243.299C132.961 242.292 131.74 240.906 131.43 239.079C131.195 237.69 131.451 236.07 132.287 234.914C135.268 230.795 151.969 231.039 157.308 230.336C155.83 229.885 140.396 229.631 137.933 229.561C135.655 229.518 132.182 229.308 129.989 229.052C112.806 224.368 115.179 210.084 132.797 211.154C142.471 211.738 152.819 211.432 162.467 210.466C151.783 209.425 137.62 208.459 128.91 201.506C127.419 200.316 125.246 197.377 125.382 195.325C125.97 186.437 136.934 186.789 143.479 186.96C152.598 187.381 161.375 187.781 170.518 187.485C171.898 187.33 173.82 187.291 175.244 187.22C176.055 187.128 177.158 187.083 177.994 187.024C186.984 186.057 197.345 184.613 206.095 182.2C198.972 180.855 193.782 179.524 186.928 177.297C186.064 177.14 184.055 176.437 183.136 176.141C177.008 173.856 169.066 169.864 169.742 162.311C170.833 150.123 187.172 154.721 194.201 156.401C198.264 157.363 202.336 158.29 206.416 159.18C221.082 162.352 232.609 164.078 247.548 164.7C254.627 164.659 260.643 164.772 267.669 163.72C272.057 162.829 278.587 160.528 279.87 155.681C280.263 154.247 280.051 152.715 279.286 151.44C276.314 146.379 266.475 147.863 261.47 147.261C257.087 146.734 252.64 146.314 248.324 145.317C246.85 145.158 241.358 144.163 240.29 143.385C243.348 143.938 247.494 144.272 250.654 144.623C253.397 144.334 256.656 144.923 259.451 145.011C269.367 145.321 295.804 145.569 302.934 138.707C303.933 137.744 304.669 136.482 304.661 135.058C304.652 133.234 305.196 133.33 302.493 130.704C299.79 128.079 287.306 129.298 287.95 127.796C289.271 127.107 305.532 125.746 306.984 125.372C312.047 124.062 320.034 119.567 317.851 113.366C314.023 104.935 298.412 108.19 291.04 107.651C288.018 107.431 277.115 107.507 275.28 106.572C285.637 105.648 299.721 104.585 308.087 97.7458C311.695 94.7961 312.672 89.519 308.842 86.4211C303.043 81.7314 290.165 83.3189 283.01 83.5598C279.978 83.7786 272.272 83.8819 269.553 83.5173C265.694 83.681 261.207 82.9642 257.338 82.6336C248.257 81.8581 239.533 79.5597 230.62 77.8867C239.804 75.8548 257.669 72.8044 264.483 65.916C266.432 63.8352 267.742 60.5466 267.414 57.6834C266.449 49.2347 256.827 49.5916 250.657 50.0445C228.438 53.0291 201.375 61.5567 176.043 58.893C173.973 58.6262 171.7 58.1759 169.623 57.806C155.559 55.4568 137.611 48.2026 124.941 41.3783C123.771 40.8336 122.395 40.0733 121.228 39.4709C108.597 32.4506 96.241 24.9455 84.1874 16.9723C64.2943 4.0635 44.6262 -9.78518 26.4087 -25.0031C17.7894 -32.2033 0 -47.1858 0 -45.9252Z' fill='%233C5780' fill-opacity='0.16'/%3E%3C/svg%3E%0A");
      background-size: 31.6rem 25rem;
    }

    .education-desc {
      max-width: 39.4rem;

      @include breakpoint($xl-bp) {
        max-width: 30rem;
      }
    }
  }
}

.education-desc {
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 125%;
  }
}

.bg-blue {
  background: #e4f7ff;
}

.mhow {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='888' viewBox='0 0 1920 888' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.205771 887.999H1920.21L1919 58.7764C1919 58.7764 1342.73 0.000244141 959 0.000244141C575.273 0.000244141 -1 58.7764 -1 58.7764L0.205771 887.999Z' fill='%23F1F3F6'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @include breakpoint($xl-bp) {
    background-image: url("data:image/svg+xml,%3Csvg width='375' height='1044' viewBox='0 0 375 1044' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-277.413 1044H658L657.413 56.1669C657.413 56.1669 376.656 0 189.706 0C2.75693 0 -278 56.1669 -278 56.1669L-277.413 1044Z' fill='%23F1F3F6' /%3E%3C/svg%3E");
  }

  &::before {
    content: '';
    width: 100%;
    height: calc(100% - 80rem);
    bottom: 0;
    background-color: var(--background-back);
    position: absolute;
    z-index: -1;

    @include breakpoint($xl-bp) {
      height: calc(100% - 100rem);
    }
  }
}

.mhow-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  counter-reset: mhow;
  position: relative;
  z-index: 1;

  @include breakpoint($xl-bp) {
    gap: 1.6rem;
  }
}

.mhow-item {
  border-radius: 0.8rem;
  padding: 2.4rem;
  background: var(--background-surface-light);
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  min-height: 17.2rem;

  counter-increment: mhow;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  min-width: 30rem;

  @include breakpoint($xl-bp) {
    padding: 2rem;
    gap: 1.6rem;
    min-height: 14.8rem;
    justify-content: flex-start;
  }

  &::before {
    content: counter(mhow);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: var(--text--icon-secondary);
    font-family: var(--font-family);

    border: 1px solid var(--border-inverse);
    border-radius: 100%;
    padding: 1.2rem 0.8rem;
    width: 4.4rem;
    height: 4.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:nth-child(1) {
    width: 45rem;
    flex-grow: 0;
  }

  &:nth-child(2) {
    width: 36rem;
    flex-grow: 0;
  }

  &:nth-child(6),
  &:nth-child(3) {
    width: 40.8rem;
    flex-grow: 0;
  }

  &:nth-child(8) {
    width: 48.6rem;
    flex-grow: 0;
  }

  &:nth-child(11) {
    @include breakpoint($xl-bp) {
      min-height: 17.2rem;
    }
  }

  &:last-child {
    background: var(--text--icon-secondary);

    @include breakpoint($xl-bp) {
      min-height: 17.2rem;
    }

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.54972 15.15L18.0247 6.675C18.2247 6.475 18.4581 6.375 18.7247 6.375C18.9914 6.375 19.2247 6.475 19.4247 6.675C19.6247 6.875 19.7247 7.1125 19.7247 7.3875C19.7247 7.6625 19.6247 7.9 19.4247 8.1L10.2497 17.3C10.0497 17.5 9.81639 17.6 9.54972 17.6C9.28305 17.6 9.04972 17.5 8.84972 17.3L4.54972 13C4.34972 12.8 4.25389 12.5625 4.26222 12.2875C4.27055 12.0125 4.37472 11.775 4.57472 11.575C4.77472 11.375 5.01222 11.275 5.28722 11.275C5.56222 11.275 5.79972 11.375 5.99972 11.575L9.54972 15.15Z' fill='%231E447E' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2.4rem;
      background-color: var(--text--icon-hover-primary);
    }

    .mhow-subtitle {
      font-weight: 700;
      font-size: 2rem;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--text--icon-hover-primary);
    }
  }
}

.mhow-subtitle {
  position: relative;
  z-index: 1;
}

.mhow-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

}

.mdocuments-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  max-width: 132.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &>* {
    border-bottom: 1px solid var(--border-inverse);
  }
}

.mdocuments-item {
  padding: 2rem 0rem;
  padding-left: 5.2rem;
  position: relative;
  display: block;

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.mdocuments-icon {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mdocuments-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mdocuments-btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  padding: 1.2rem;
  transition: color var(--time);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--text--icon-secondary);
    }
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;

    @include breakpoint($xl-bp) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.mdirection-block {
  padding: 6.4rem 4rem;
  border-radius: 4rem;
  overflow: hidden;

  @include breakpoint($xl-bp) {
    padding: 2.4rem 1.6rem;
    border-radius: 2rem;
    padding-bottom: 25rem;
  }
}

.mdirection-inner {
  max-width: 81rem;
  width: 100%;
  margin-left: auto;
}

.mdirection-subtitle {
  max-width: 58.8rem;
}

.mdirection-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.support-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 55.7rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
  }

  &>* {
    border: 1px solid var(--border-2);
    border-radius: 8rem;
    padding: 0.8rem 2rem 0.8rem 1.6rem;
    padding-left: 5.6rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.54972 15.15L18.0247 6.675C18.2247 6.475 18.4581 6.375 18.7247 6.375C18.9914 6.375 19.2247 6.475 19.4247 6.675C19.6247 6.875 19.7247 7.1125 19.7247 7.3875C19.7247 7.6625 19.6247 7.9 19.4247 8.1L10.2497 17.3C10.0497 17.5 9.81639 17.6 9.54972 17.6C9.28305 17.6 9.04972 17.5 8.84972 17.3L4.54972 13C4.34972 12.8 4.25389 12.5625 4.26222 12.2875C4.27055 12.0125 4.37472 11.775 4.57472 11.575C4.77472 11.375 5.01222 11.275 5.28722 11.275C5.56222 11.275 5.79972 11.375 5.99972 11.575L9.54972 15.15Z' fill='white' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 1.6rem center;
    background-size: 2.4rem;

    @include breakpoint($xl-bp) {
      padding-left: 5.2rem;
      min-height: 4rem;
    }
  }
}

.gallery-wrap {
  position: relative;

  overflow: hidden;

  .swiper-arrow {
    position: absolute;
    top: 50%;

    width: 6.4rem;
    height: 9.6rem;

    z-index: 2;

    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  .next {
    right: 16rem;
  }

  .prev {
    left: 16rem;
  }
}

.gallery-swiper {
  padding-left: 43rem;

  @include breakpoint($xl-bp) {
    padding-left: 19.7rem;
    padding-bottom: 4rem;
  }

  .swiper-slide {
    box-shadow: 0 4px 12px 0 rgba(231, 233, 236, 0.3);
    border: 1px solid var(--border-inverse);
    border-radius: 1.6rem;
    width: 52rem;
    height: 51.8rem;
    margin-right: 2rem;

    @include breakpoint($sm-bp) {
      height: 38rem;
      width: 34.3rem;
    }
  }

  .swiper-pagination {
    display: none;

    @include breakpoint($xl-bp) {
      display: block;
      bottom: 0;
    }
  }
}

.mcontacts-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 2rem;
  padding: 2.4rem 4.8rem;
  background: var(--text--icon-hover-primary);

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.2rem;
  }

  &>* {
    border-left: 1px solid var(--border-inverse);
    padding-left: 3.2rem;

    @include breakpoint($xl-bp) {
      padding: 0;
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
      border: 0;
      border-top: 1px solid var(--border-inverse);
    }

    &:nth-child(3n + 1) {
      padding-left: 0;
      border: 0;
    }
  }
}

.mcontacts-phone {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  svg {
    flex: 0 0 auto;
    width: 2.8rem;
    height: 2.8rem;
  }
}

.mcontacts-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  margin-top: 1.2rem;

  &>* {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.mcontacts-map {
  height: 55rem;
  width: 100%;
  border: 1px solid var(--border-inverse);
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 4px 12px 0 rgba(231, 233, 236, 0.2);
  overflow: hidden;

  iframe,
  &>div {
    width: 100%;
    height: 100%;
  }
}

.mcontacts-address {
  @include breakpoint($xl-bp) {
    width: 110%;
  }
}