.menu {
  flex-grow: 1;

  @include breakpoint($xl-bp) {
    display: none;

    background-color: #fafafa;

    position: fixed;
    top: 6.9rem;
    left: 0;
    width: 100%;
    height: calc(100% - 6.9rem);

    animation: fadeEffect var(--time);

    padding-left: 1.6rem;
    padding-right: 1.6rem;

    overflow-y: auto;

    padding-top: 4.8rem;
    padding-bottom: 4.2rem;
  }
}

.menu--open {
  display: block;
}

.menu-button {
  border: 1px solid var(--border-inverse);
  border-radius: 0.8rem;
  padding: 0.8rem 1.2rem;
  width: 4.8rem;
  height: 4.2rem;

  z-index: 4;
  display: none;
  position: relative;

  align-items: center;
  justify-content: center;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 4.16129C24 3.51993 23.4801 3 22.8387 3H10.4516C9.81025 3 9.29032 3.51993 9.29032 4.16129C9.29032 4.80265 9.81025 5.32258 10.4516 5.32258H22.8387C23.4801 5.32258 24 4.80265 24 4.16129ZM24 11.9032C24 11.2619 23.4801 10.7419 22.8387 10.7419H1.16129C0.519926 10.7419 -1.90735e-06 11.2619 -1.90735e-06 11.9032C-1.90735e-06 12.5446 0.519926 13.0645 1.16129 13.0645H22.8387C23.4801 13.0645 24 12.5446 24 11.9032ZM24 19.6452C24 19.0038 23.4801 18.4839 22.8387 18.4839H1.16129C0.519926 18.4839 -1.90735e-06 19.0038 -1.90735e-06 19.6452C-1.90735e-06 20.2865 0.519926 20.8064 1.16129 20.8064H22.8387C23.4801 20.8064 24 20.2865 24 19.6452Z' fill='%231E447E' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem;

  @include breakpoint($xl-bp) {
    display: flex;
  }

  &.menu-button--active {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='%231E447E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu-columns {
  display: flex;
  justify-content: center;
  gap: 7.2rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.2rem;

    padding: 1.2rem 1.6rem;
    box-shadow: 0 4px 12px 0 rgba(146, 146, 146, 0.01);
    background: var(--background-surface-light);
    border-radius: 0.8rem;

    margin-top: 1.2rem;
  }

  &>ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    @include breakpoint($xl-bp) {
      gap: 1.2rem;

      a {
        padding: 0.8rem 1.2rem;
        display: block;
      }
    }
  }
}

.menu-card {
  @include breakpoint($xl-bp) {
    border-radius: 0.8rem;
    padding: 1.6rem 3.2rem;
    box-shadow: 0 4px 12px 0 rgba(146, 146, 146, 0.01);
    background: var(--background-surface-light);
    margin-top: 1.2rem;
  }
}

.menu-socials {
  @include breakpoint($xl-bp) {
    border-top: 1px solid var(--border-inverse);
    padding-top: 1.6rem;
  }

  .header-socials {
    @include breakpoint($xl-bp) {
      display: flex;
    }
  }
}

.menu-privacy,
.menu-phone {
  @include breakpoint($xl-bp) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-lk a,
.menu-lk {
  @include breakpoint($xl-bp) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
}