<ul class="main-ctas mt-52 relative">
  <li class="main-cta first">
    <h3 class="main-h3 h5">Платформа для <br>обучения умней</h3>

    <a href="https://www.youtube.com/watch?v=927eacQO-T8" data-fancybox class="btn xl-small btn-black">Смотреть <svg>
        <use xlink:href='./assets/images/sprite.svg#video'></use>
      </svg></a>
  </li>
  <li class="main-cta second">
    <h3 class="main-h3 h5">Получить персональную карту развития</h3>

    <button class="btn xl-small">Заполнить&nbsp;анкету</button>
  </li>

  <li>
    <a href="#" class="main-card card body-1">
      <span>Заказать обратный звонок</span>
      <svg>
        <use xlink:href='./assets/images/sprite.svg#phone'></use>
      </svg>
    </a>
  </li>
</ul>