<section class="mdocuments pt-80 pb-80 container relative">
  <h2 class="mdocuments-title h2 text-center">Документы</h2>

  @if(context.withbg) {
    <div class="mdocuments-leftbg xl-hidden"></div>
    <div class="mdocuments-rightbg xl-hidden"></div>
  }

  <ul class="mdocuments-list columns-1 max-w-643 mt-48 body-1 xl-body-2">
    <li>
      <a href="#" class="mdocuments-item">
        <div class="mdocuments-icon img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/documents/pdf.svg" class="lazyload" alt="pdf">
        </div>

        Список документов для поступления в колледж
      </a>
    </li>
    <li>
      <a href="#" class="mdocuments-item">
        <div class="mdocuments-icon img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/documents/pdf.svg" class="lazyload" alt="pdf">
        </div>
        Список документов для поступления в вуз, аспирантуру, магистратуру
      </a>
    </li>
    <li>
      <a href="#" class="mdocuments-item">
        <div class="mdocuments-icon img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/documents/pdf.svg" class="lazyload" alt="pdf">
        </div>
        Список документов для прохождения ДПО, ДО, курсов
      </a>
    </li>
  </ul>

  <div class="mdocuments-bottom mt-48">
    <a href="article.html" class="mdocuments-btn body-1 xl-body-2">
      Все документы
      <svg>
        <use xlink:href='./assets/images/sprite.svg#arr'></use>
      </svg>
    </a>
  </div>
</section>