<h2 class="education-title h2 shevron-title relative">Какое образование<br class="xl-block"> я получу после окончания? </h2>

<hr class="relative mt-35">

<h3 class="education-subtitle h2 text-center mt-80">Преимущества обучения с умней</h3>

<ul class="education-list mt-48">
  <li class="education-item --1">
    <h4 class="education-subtitle h4">УДОБНАЯ ПЛАТФОРМА</h4>
    <p class="education-desc body-1 font-regular mt-16">
      Наслаждайтесь обучением в удобном онлайн-формате, получая доступ к учебным материалам, заданиям и поддержке опытного наставника.
    </p>

    <div class="education-bg img-contain">
      <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/logo/logo-mobile.svg" class="lazyload" alt="logo">
    </div>
  </li>
  <li class="education-item --2">
    <h4 class="education-subtitle h4">ПЕРСОНАЛЬНО</h4>
    <p class="education-desc body-1 font-regular mt-16">
      Учитесь в удобное время с личным планом обучения, разработанным специально для вас, и получайте обратную связь от опытных преподавателей.
    </p>
  </li>
  <li class="education-item --3 bg-blue">
    <h4 class="education-subtitle h4">ВЫГОДНО</h4>
    <p class="education-desc body-1 font-regular mt-16">
      Мы предлагаем гибкую систему скидок и акций, чтобы сделать образование доступным <br class="xl-hidden">каждому, кто стремится к знаниям и развитию.
    </p>
  </li>
  <li class="education-item --4 bg-blue">
    <h4 class="education-subtitle h4">ПОМОЩЬ <br class="xl-block">В ТРУДОУСТРОЙСТВЕ</h4>
    <p class="education-desc body-1 font-regular mt-16">
      Получите необходимые навыки для успешного трудоустройства. Наша платформа предлагает актуальные знания, практические задания и помощь в составлении резюме.
    </p>

    <div class="education-bg img-contain">
      <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/4.svg" class="lazyload" alt="logo">
    </div>
  </li>
  <li class="education-item --5">
    <h4 class="education-subtitle h4">ПОДДЕРЖКА КУРАТОРА</h4>
    <p class="education-desc body-1 font-regular mt-16">
      Получите личного куратора, <br class="xl-block">готового помочь в любое время. Доступ к эксклюзивным материалам и консультациям для успешной учебы.
    </p>
  </li>
</ul>