<!-- Feedback -->
<div class="modal" id="feedback">

  <div class="modal-block --feedback">

    <svg class="modal-check" width="50" height="52" viewBox="0 0 50 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.5 27.3L18.3621 39L42.5 13" stroke="#1E447E" stroke-width="4" stroke-linecap="round" />
    </svg>

    <div class="modal-title h2 text-center">Заявка принята</div>
    <div class="modal-description body-1 font-regular xl-body-2 text-center">
      Спасибо, что выбрали Умней. Мы свяжемся с вами в ближайшее время и расскажем всё о программах обучения
    </div>
  </div>
</div>
<!-- Feedback -->