<footer class="footer container text-white pt-80 pb-80">

  <div class="footer-left">
    <a href="main.html" class="footer-logo img-contain">
      <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/logo/logo-white.svg" class="lazyload" alt="logo">
    </a>

    <button class="footer-btn btn xl-small">
      Оставить заявку
    </button>

    <ul class="footer-socials">
      <li>
        <a href="#" aria-label="max">
          <svg>
            <use xlink:href='./assets/images/sprite.svg#max'></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="telegram">
          <svg>
            <use xlink:href='./assets/images/sprite.svg#telegram'></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="vk">
          <svg>
            <use xlink:href='./assets/images/sprite.svg#vk'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <ul class="footer-nav body-1">
    <ul>
      <li><a href="about.html">Что такое УМНЕЙ </a></li>
      <li><a href="howto.html">Как учиться</a></li>
      <li><a href="development.html">Траектория развития компетенций</a></li>
      <li><a href="main.html#search">Поиск образовательных программ</a></li>
    </ul>
    <ul>
      <li><a href="parents.html">Родителям</a></li>
      <li><a href="blog.html">Статьи</a></li>
      <li><a href="contacts.html">Контакты</a></li>
      <li><a href="center.html">Центр трудоустройства</a></li>
    </ul>
  </ul>

  <div class="footer-bottom body-1 xl-body-2 font-regular">
    © 2014—2026 БИОР «Умней», <br>
    Частное учреждение Библиотека информационно-образовательных ресурсов «Умней» <br>
    <a href="agree.html">Пользовательское соглашение</a> <br>
    <a href="politics.html">Политика в отношении обработки персональных данных</a> <br>
    <a href="#" class="underline">Сводная ведомость специальной оценки условий труда (СОУТ БИОР)</a> <br>
    <a href="#" class="underline">Информация по противодействию коррупции</a> <br>
    Информация на сайте не является публичной офертой
  </div>
</footer>