<section class="gallery pb-80">
  <div class="gallery-head container">
    <hr>
    <h2 class="mt-48 mwhat-title section-title body-2 text-blue relative">Фотогалерея</h2>
  </div>

  <div class="gallery-wrap">
    <div class="swiper gallery-swiper container mt-48">
      <div class="swiper-wrapper">
        <a href="./assets/images/gallery/1.jpg" data-fancybox="gallery" class="swiper-slide img-cover">
          <img src="./assets/images/gallery/1.jpg" loading="lazy" alt="gallery">
        </a>
        <a href="./assets/images/gallery/2.jpg" data-fancybox="gallery" class="swiper-slide img-cover">
          <img src="./assets/images/gallery/2.jpg" loading="lazy" alt="gallery">
        </a>
        <a href="./assets/images/gallery/3.jpg" data-fancybox="gallery" class="swiper-slide img-cover">
          <img src="./assets/images/gallery/3.jpg" loading="lazy" alt="gallery">
        </a>
        <a href="./assets/images/gallery/4.jpg" data-fancybox="gallery" class="swiper-slide img-cover">
          <img src="./assets/images/gallery/4.jpg" loading="lazy" alt="gallery">
        </a>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <button class="swiper-arrow next white">
      <svg>
        <use xlink:href='./assets/images/sprite.svg#arrow'></use>
      </svg>
    </button>

    <button class="swiper-arrow prev white">
      <svg>
        <use xlink:href='./assets/images/sprite.svg#arrow'></use>
      </svg>
    </button>
  </div>
</section>