<ol class="mhow-list container mt-48">
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Подай документы <br class="xl-block">и дождись<br class="xl-hidden"> приказа <br class="xl-block">о зачислении</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/1-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/1.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Получи доступ <br>к занятием</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/2-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/2.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Изучи инструкцию <br class="xl-block">как<br class="xl-hidden"> работать<br class="xl-block"> на платформе</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/3-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/3.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Учись и<br class="xl-hidden"> получай<br class="xl-block"> оценки</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/4-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/4.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Закрывай <br>вовремя ссесию</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/5-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/5.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Заказывай справку <br>на учебный отпуск</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/6-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/6.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Проходи <br>практику</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/7-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/7.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Появился вопрос – <br class="xl-block">пиши <br class="xl-hidden">в техническую <br class="xl-block">поддержку</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/8-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/8.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Плохая оценка –<br> пересдай!</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/9-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/9.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Конспектируй <br>пройденный <br class="xl-block">материал</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/10-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/10.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Подготовься<br> к ГИА!</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/11-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/11.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
  <li class="mhow-item">
    <h3 class="mhow-subtitle body-1">Получи диплом!</h3>

    <div class="mhow-bg img-contain">
      <picture>
        <source srcset="./assets/images/education/12-mobile.png" media="(max-width:500px)">
        <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/education/12.webp" class="lazyload" alt="education">
      </picture>
    </div>
  </li>
</ol>