<div class="menu">

  <ul class="menu-lk menu-card xl-flex body-3 text-blue" id="lk"></ul>

  <div class="menu-privacy menu-card xl-flex body-3 text-blue"><a href="privacy.html">Правовая информация</a></div>

  <nav class="menu-columns link body-3">
    <ul>
      <li><a href="main.html#search">Поиск образовательных программ</a></li>
      <li><a href="about.html">Что такое УМНЕЙ </a></li>
      <li><a href="howto.html">Как учиться</a></li>
      <li><a href="development.html">Траектория развития компетенций</a></li>
    </ul>
    <ul>
      <li><a href="parents.html">Родителям</a></li>
      <li><a href="blog.html">Статьи</a></li>
      <li><a href="contacts.html">Контакты</a></li>
      <li><a href="center.html">Центр трудоустройства</a></li>
      <li><a href="privacy.html" class="xl-hidden">Правовая информация</a></li>
    </ul>

    <div class="menu-socials xl-flex" id="socials"></div>
  </nav>

  <ul class="menu-phone menu-card xl-flex body-3 text-blue" id="phone"></ul>
</div>