<div class="menu">
  <nav class="menu-columns link body-3">
    <ul>
      <li><a href="#">Поиск образовательных программ</a></li>
      <li><a href="about.html">Что такое УМНЕЙ </a></li>
      <li><a href="howto.html">Как учиться</a></li>
      <li><a href="development.html">Траектория развития компетенций</a></li>
    </ul>
    <ul>
      <li><a href="parents.html">Родителям</a></li>
      <li><a href="blog.html">Статьи</a></li>
      <li><a href="contacts.html">Контакты</a></li>
      <li><a href="center.html">Центр трудоустройства</a></li>
      <li><a href="#">Правовая информация</a></li>
    </ul>
  </nav>
</div>