<!-- Modal -->
<div class="modal" id="leed-modal" data-thank="feedback">
  <div class="modal-block max-w-860 with-logo">

    <button class="modal-close" aria-label="close-modal" data-close-modal>
      <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.898438 16.8999L16.8984 0.899902" stroke="#2B2B45" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M16.8984 16.8999L0.898438 0.899902" stroke="#2B2B45" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>

    <div class="modal-logo img-contain">
      <img src="./assets/images/modal/logo.svg" alt="logo">
    </div>

    <div class="modal-innerblock">
      <div class="modal-title h2 text-center">Начните обучение сегодня</div>

      <div class="modal-description body-1 font-regular xl-body-2 text-center">
        Заполните форму, и наш специалист свяжется с вами
      </div>

      <form action="#">
        <div class="modal-inputs">
          <input type="text" name="name" class="input modal-input" placeholder="Имя" required>

          <input type="tel" name="surname" class="input modal-input" placeholder="+ 7 (__) ___-__-__" required>
        </div>


        <label class="modal-label  checkbox-wrap">
          <div class="checkbox">
            <input type="checkbox" required>
            <div class="checkbox-box"></div>
          </div>
          <span>
            Я согласен с обработкой моих персональных данных, согласно правилам <a href="privacy.html">политики конфиденциальности</a> данной платформы
          </span>
        </label>

        <div id="captcha-container1"></div>

        <button class="modal-btn btn btn-blue" type="submit">
          Отправить заявку
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->