<div class="main-bottom">
  <button class="main-catalogbtn btn btn-blue">
    <svg class="closed">
      <use xlink:href='./assets/images/sprite.svg#lines'></use>
    </svg>
    <svg class="opened">
      <use xlink:href='./assets/images/sprite.svg#close'></use>
    </svg>
    Каталог
  </button>

  <!-- Catalog -->
  <div class="main-catalog dropdown-style" id="main-catalog">

    <button class="main-catalogback btn btn-black js-catalog-back">
      <svg>
        <use xlink:href='./assets/images/sprite.svg#arrow'></use>
      </svg>
      Назад
    </button>

    <button class="main-innerbtn btn btn-blue">
      <svg>
        <use xlink:href='./assets/images/sprite.svg#lines'></use>
      </svg>
      Каталог
    </button>

    <ul class="main-accordions custom-scrollbar">
      <li class="main-accordion">
        <button class="main-summary body-3">Колледж</button>

        <div class="main-inner">
          <ul class="main-list body-1">
            <li>
              <p>Интернет-технологии:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Туризм:</p>

              <ul>
                <li><a href="special.html">Туризм и гостеприимство 43.02.16</a></li>
              </ul>
            </li>
            <li>
              <p>Интернет-технологии:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Педагогика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="main-accordion">
        <button class="main-summary body-3">ВУЗ-бакалавриат</button>

        <div class="main-inner">
          <ul class="main-list body-1">
            <li>
              <p>Интернет-технологии:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Туризм:</p>

              <ul>
                <li><a href="special.html">Туризм и гостеприимство 43.02.16</a></li>
              </ul>
            </li>
            <li>
              <p>Интернет-технологии:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Педагогика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="main-accordion">
        <button class="main-summary body-3">ВУЗ-магистратура</button>

        <div class="main-inner">
          <ul class="main-list body-1">
            <li>
              <p>Интернет-технологии:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Туризм:</p>

              <ul>
                <li><a href="special.html">Туризм и гостеприимство 43.02.16</a></li>
              </ul>
            </li>
            <li>
              <p>Интернет-технологии:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
            <li>
              <p>Педагогика:</p>

              <ul>
                <li><a href="special.html">Обеспечение информационной безопасности автоматизированных систем 10.02.05</a></li>
                <li><a href="special.html">Информационные системы и программирование 09.02.07</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="main-accordion">
        <button class="main-summary body-3">Курсы</button>

        <div class="main-inner">
          <ul class="main-list body-1 columns-3">
            <li>
              <p>Логистика</p>

              <ul>
                <li><a href="special.html">18 курсов</a></li>
              </ul>
            </li>
            <li>
              <p>Педагогика:</p>

              <ul>
                <li><a href="special.html">48 курса</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Логистика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>
            <li>
              <p>Юриспруденция</p>

              <ul>
                <li><a href="special.html">24 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Логистика</p>

              <ul>
                <li><a href="special.html">18 курсов</a></li>
              </ul>
            </li>
            <li>
              <p>Педагогика:</p>

              <ul>
                <li><a href="special.html">48 курса</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Логистика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>
            <li>
              <p>Юриспруденция</p>

              <ul>
                <li><a href="special.html">24 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Логистика</p>

              <ul>
                <li><a href="special.html">18 курсов</a></li>
              </ul>
            </li>
            <li>
              <p>Педагогика:</p>

              <ul>
                <li><a href="special.html">48 курса</a></li>
              </ul>
            </li>
            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Экономика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>

            <li>
              <p>Логистика:</p>

              <ul>
                <li><a href="special.html">32 курса</a></li>
              </ul>
            </li>
            <li>
              <p>Юриспруденция</p>

              <ul>
                <li><a href="special.html">24 курса</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="main-tabwrapper">
      <div class="main-tabcontent custom-scrollbar body-1"></div>
    </div>
    <!-- Tab Content -->
  </div>
  <!-- Catalog -->

  <!-- Search -->
  <div class="main-searchwrap" id="search-wrap">

    <form action="search.html" id="searchform">

      <script>
        searchform.addEventListener('search', function () {
          const data = Object.fromEntries(new FormData(this))
          console.log(data)
          if (data['bior-search'] || data['mobile-search'] || data['level1'] === 'on' || data['level2'] === 'on' || data['level3'] === 'on') {
            setTimeout(() => {
              this.parentElement.classList.add('is-fetched')
            }, 500)
          } else {
            this.parentElement.classList.remove('is-fetched')
          }

        })
      </script>

      <div class="main-search desctop">
        <div class="main-loading"><svg>
            <use xlink:href='./assets/images/sprite.svg#loading'></use>
          </svg></div>

        <button type="button" class="dropdown-btn body-3 js-dropdown">Уровень обучения</button>
        <!-- Levels -->
        <div class="dropdown-items dropdown-style body-2 js-checkboxes">
          <div class="dropdown-inner custom-scrollbar">
            <label class="checkbox-label">
              <input type="checkbox" name="level1">
              <span class="checkbox-box"></span>
              Высшее

              <span class="js-chip" hidden>
                ВУЗы <small>(26 программ)</small>
              </span>
            </label>
            <label class="checkbox-label">
              <input type="checkbox" name="level2">
              <span class="checkbox-box"></span>
              СПО

              <span class="js-chip" hidden>
                СПО <small>(26 программ)</small>
              </span>
            </label>
            <label class="checkbox-label">
              <input type="checkbox" name="level3">
              <span class="checkbox-box"></span>
              КУРСЫ, ДПО

              <span class="js-chip" hidden>
                КУРСЫ, ДПО <small>(320 программ)</small>
              </span>
            </label>
          </div>
        </div>
        <!-- Levels -->

        <input type="text" name="bior-search" class="main-input body-2 font-regular js-search" placeholder="Искать специальность…">

        <button type="reset" class="main-reset js-reset desctop"><svg>
            <use xlink:href='./assets/images/sprite.svg#close'></use>
          </svg></button>

        <button type="submit" class="main-submit btn btn-blue desctop">Искать <svg>
            <use xlink:href='./assets/images/sprite.svg#search'></use>
          </svg></button>

        <div class="main-result dropdown-style">
          <ul class="main-datalist custom-scrollbar body-2">
            <li><a href="special.html">Менеджмент (бакалавриат)</a></li>
            <li><a href="special.html">Управление персоналом (бакалавриат)</a></li>
            <li><a href="special.html">Информационный менеджмент (высшее, магистратура)</a></li>
            <li><a href="special.html">Государственное и муниципальное управление (высшее, магистратура)</a></li>
            <li><a href="special.html">Финансовый менеджмент (бакалавриат)</a></li>
            <li><a href="special.html">Финансовый менеджмент (бакалавриат)</a></li>
            <li><a href="special.html">Менеджмент (бакалавриат)</a></li>
            <li><a href="special.html">Менеджмент (бакалавриат)</a></li>
          </ul>

          <!-- "empty" class on parent -->
          <div class="main-empty body-2">
            Ничего не найдено. Уточните уровень обучения
          </div>
        </div>
      </div>

      <!-- Chips -->
      <div class="main-chips body-2 font-regular js-chips"></div>
      <!-- Chips -->

      <!-- Search Mobile Popup -->
      <div class="main-searchpopup">
        <div class="main-search">
          <div class="main-loading"><svg>
              <use xlink:href='./assets/images/sprite.svg#loading'></use>
            </svg></div>

          <button type="button" class="dropdown-btn body-3 js-dropdown-mobile">Уровень обучения</button>

          <!-- Levels Mobile -->
          <div class="js-checkboxes-copy"></div>
          <!-- Levels Mobile -->

          <button type="button" class="main-catalogback btn btn-black js-search-back">
            <svg>
              <use xlink:href='./assets/images/sprite.svg#arrow'></use>
            </svg>
            Назад
          </button>

          <input type="text" name="mobile-search" class="main-input body-2 font-regular js-search-mobile" placeholder="Искать специальность…">

          <button type="reset" class="main-reset js-reset"><svg>
              <use xlink:href='./assets/images/sprite.svg#close'></use>
            </svg></button>

          <button type="submit" class="main-submit btn btn-blue">Искать <svg>
              <use xlink:href='./assets/images/sprite.svg#search'></use>
            </svg></button>
        </div>
      </div>
      <!-- Search Mobile Popup -->
    </form>
  </div>
  <!-- Search -->
</div>